.form__select {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  i {
    display: block;
  }
  button {
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    border: $boder;
    border-radius: 0.625rem;
    padding: 0 1rem;
    font-size: 0.8125rem;
    margin: 0.4375rem 0.9375rem;
    transition: 0.2s;
    cursor: pointer;
  }
  select {
    width: auto;
    background-color: $bg-footer;
    padding: 0 1.5rem;
    font-size: 0.8125rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: $color-white;
    border-radius: 0.3125rem;
    cursor: pointer;
    outline: none;
    border: 0.0625rem solid $bg-footer;
    margin: 0.75rem;
    option {
      height: 1rem;
    }
  }
}
@media screen and (min-width: 61.875rem) {
  .form__select {
    button {
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      border: $boder;
      border-radius: 0.625rem;
      padding: 0 1rem;
      font-size: 0.8125rem;
      margin: 0.4375rem 0.9375rem;
      transition: 0.2s;
      cursor: pointer;
    }
    select {
      width: auto;
      background-color: $bg-footer;

      padding-left: 3.25rem;
      padding-right: 3.25rem;
      font-size: 1.25rem;
      height: 3.5rem;
      line-height: 2.5rem;
      color: $color-white;
      border-radius: 0.3125rem;
      cursor: pointer;
      outline: none;
      border: 0.0625rem solid $bg-footer;
      margin: 0.75rem;
    }
  }
}
